/* About page styles */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; /* Reduced gap to bring cards closer */
  padding: 5px; /* Reduced padding to bring cards closer */
}

.about_title_card, .about_story_card {
  width: 90%;
  max-width: 1200px;
  padding: 15px; /* Reduced padding to bring cards closer */
  margin: 10px auto; /* Reduced margin to bring cards closer */
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about_title_card h2, .about_story_card h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.about_story_card p {
  font-size: 1.2em;
  color: #555;
}

.about_story_card ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Footer styles */
.footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  color: rgb(144, 0, 255);
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 50px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer a {
  color: #666;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
